:root > * {
  --md-primary-fg-color: #087671;
}

.md-header__topic,
.md-header__topic > a,
.md-header__title,
.md-header__topic:first-child,
.md-header__button.md-logo {
  color: black !important;
}

.md-header__button svg {
  fill: black !important;
}

.md-tabs__link {
  color: white !important;
}

.md-typeset a {
  color: #087671;
}

.md-typeset a:hover {
  color: #87082D; /* Hover color */
}

.md-nav__link--active {
  color: #000 !important;
  font-weight: 600;
}
